<html>
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    
	 
</head>
<body>
	<nav class = "navbar navbar-default navbar-fixed-top">
		<ul class = "nav navbar-nav navbar-left">
			<li><a class = "navbar-brand" href="/">Home/</a></li>
			<li><a href="/admin-login/">Admin Login</a></li>
		</ul> 
		<ul class = "nav navbar-nav navbar-right">
			<li><a class = "navbar-brand" href="/cart/">Cart: <b>({{cart_size}}) Items </b></a></li>
			<li><a href="/cart/checkout">Checkout!</a></li>
		</ul> 
	</nav>
	<br>
	<br>
	<div class = "page-header" style="text-align:center">
		<h2>InstaShop</h2>
	</div>
	<style type = "text/css">
	.centerdv
	{
		width:45%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	</style>
	<div class = "container well centerdv">
		<h3> Login </h3>
		<br>
	<form method = "post">
		{% csrf_token %}
        {% if login == False %
       }
       <div class = "alert alert-danger">Bad Login</div>
		<b>Username:</b>
		<input type = "text" name="username" class = "form-control">
		<br>
		<b>Password</b>
		<input typr = "text" name="password" class = "form-control">
		<br>
		< input type = "submit" value = "Login!" class = "btn btn-success btn-lg"
	</form>
</div>
</body>
</html>
