<html>
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    
	 
</head>
<body>
	<nav class = "navbar navbar-default navbar-fixed-top">
		<ul class = "nav navbar-nav navbar-left">
			<li><a class = "navbar-brand" href="/">Home/</a></li>
			<li><a href="/admin-login/">Admin Login</a></li>
		</ul> 
		<ul class = "nav navbar-nav navbar-right">
			<li><a class = "navbar-brand" href="/cart/">Cart: <b>({{cart_size}}) Items </b></a></li>
			<li><a href="/cart/checkout">Checkout!</a></li>
		</ul> 
	</nav>
	<br>
	<br>
	<div class = "page-header" style="text-align:center">
		<h2>InstaShop</h2>
	</div>
	<style type = "text/css">
	.centerdv
	{
		width:45%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	</style>
	<h3 style = "text-align:center">Orders</h3>
	<div class = "container centerdv">
		{% for order in orders %}
		<div class = "well">
			<b>Name:</b>
			<br>
			{{order.first_name}}
			{{order.last_name}}
			<br>
			<b>Payment Information</b>
			{{order.payment_method}}
			{{order.payment_data}}
			<br>
			<b>Order Items:</b>
			<br>
			{{order.items}}
			<br>
			<b>Order Fulfilled</b>
			{{order.fullfilled}}
		</div>
		{% endfor %}
		</div>
	</div>
</body>
</html>

	